@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

:root{
    --clr-Background-color:hsl(0, 0%, 90%);
    --clr-text-color:hsl(221, 51%, 16%);
    --clr-Result-color:hsl(32, 100%, 49%);
    --clr-font-main:'Cardo', serif;
}


body{
   font-family:var(--clr-font-main);
   background-color: var(--clr-Background-color);
}

img{
    width: 100%;
    height: auto;
}

.game{
    width: 80%;
    margin: auto;
    color: var(--clr-text-color);
}

.header .game_title{
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weapons img{
    width: 4.5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: 0.05s ease;  
}

.weapons #rock:active{
    width: 4.2rem;
    transform: translateY(-5px);
    transition: 0.05s ease-out;
}

.weapons #paper:active{
    width: 4.2rem;
    transform: translateY(-5px);
    transition: 0.05s ease-out;
}

.weapons #scissor:active{
    width: 4.2rem;
    transform: translateY(-5px);
    transition: 0.05s ease-out;
}

.weapons{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.game_score {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: left;
}

.game_score span{
    font-size: 2rem;
    color: var(--clr-Result-color);
    
}

.result{
    visibility: hidden;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.result.show{
    visibility: visible;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
      text-align: left;
}

#my_option,#computer_option{
    color: var(--clr-Result-color);
}

#result{
    font-size: 2.5rem;
    color: var(--clr-Result-color);
}

@media screen and (min-width:768px){

    .header .game_title{
        font-size: 2.5rem;
        gap: 2rem;
    }

    .weapons img{
      width: 9rem;
      margin-top: 5rem;
    }

    .weapons #rock:active{
    width: 8.8rem;
  
}

.weapons #paper:active{
    width: 8.8rem;
}

.weapons #scissor:active{
    width: 8.8rem;
}

    .weapons{
        gap: 5rem;
    }

    .game_score{
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .game_score span{
        font-size: 3rem;
    }

    .result{
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .result span{
        font-size: 3rem;
    }

}


@media screen and (min-width:1024px){

    .game{
        width: 90%;
    }

    .weapons img{
        width: 12rem;
    }

    .game_body{
    display: flex;
    flex-direction: row;
    gap: 100px;
    }

    .weapons #rock:active{
    width: 11.8rem; 
}

    .weapons #paper:active{
    width:11.8rem;
}

    .weapons #scissor:active{
    width: 11.8rem;
}
}

@media screen and (min-width:1440px){

    .game_body{
        justify-content: center;
    }


        .weapons #rock:active{
    width: 11.8rem; 
}

    .weapons #paper:active{
    width:11.8rem;
}
    
    .weapons #scissor:active{
    width: 11.8rem;
    }
}